.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #0000004d;
  display: flex;
  justify-content: center;
  align-items: center;
  visibility: hidden;
}

.modal__is-opened {
  visibility: visible;
}

.modal__content {
  background-color: #fff;
  position: relative;
  padding: 28px 28px 36px;
  max-width: 496px;
  box-sizing: border-box;
  width: 100%;
  font-family: sans-serif;
  letter-spacing: 0%;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  font-style: Bold;
  border-radius: 16px;
}

.modal__title {
  margin: 0;
  margin-bottom: 24px;
}

.modal__close {
  position: absolute;
  top: 20px;
  right: 28px;
  border: none;
  background-color: transparent;
  width: 32px;
  height: 32px;
}

.modal__close-image {
  width: 32px;
  height: 32px;
  opacity: 0.5;
  background-color: transparent;
}

.modal__close:hover {
  cursor: pointer;
}

.modal__close:hover .modal__close-image {
  opacity: 1;
}

.modal__form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal__radio-buttons {
  border: none;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.modal__legend {
  margin-bottom: 12px;
}

.modal__label {
  margin-bottom: 8px;
}

.modal__radio-input {
  width: 16px;
  height: 16px;
}

.modal__label_type_radio {
  font-weight: 700;
  font-style: Bold;
  color: #00000080;
  display: flex;
  align-items: center;
  gap: 8px;
}

.modal__label_type_radio:has(.modal__radio-input:checked) {
  color: #000000;
}

.modal__input {
  display: block;
  margin-bottom: 24px;
  margin-top: 8px;
  border: none;
  border-bottom: 1px solid #000000;
  font-weight: 700;
  font-style: Bold;
  width: 100%;
}

.modal__submit {
  margin-top: 32px;
  min-width: 124px;
  height: 36px;
  opacity: 1;
  border-radius: 4px;
  border: none;
  gap: 8px;
  padding: 8px 16px;
  background-color: #000000;
  color: #ffffff;
  font-weight: 700;
  font-style: Bold;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0%;
  align-self: flex-start;
}

.modal__submit:hover {
  cursor: pointer;
  background-color: #00000099;
}

.modal__submit:disabled {
  background-color: #0000004d;
}

@media screen and (max-width: 375px) {
  .modal__content {
    margin: auto 0 0 0;
    border-radius: 16px 16px 0 0;
  }

  .modal__submit {
    width: 100%;
    align-self: center;
  }
}
