.page {
  background-color: #f3f3f3;
}

.page__content {
  max-width: 1440px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 20px;
  font-family: sans-serif;
}

@media screen and (max-width: 630px) {
  .page__content {
    max-width: 100%;
    padding: 0 16px;
  }
}
