.cards__list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  gap: 20px;
}

.cards__text {
  margin: 40px auto 34px;
}

@media screen and (max-width: 630px) {
  .cards__list {
    gap: 15px;
  }
}
